In [12]:
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## Задание 1

In [3]:
data = [
    ("солнечно", True),
    ("снег", False),
    ("облачно", False),
    ("дождь", False),
    ("солнечно", True),
    ("снег", False),
    ("облачно", True),
    ("снег", False),
    ("солнечно", False),
    ("облачно", True),
    ("снег", True),
    ("солнечно", True),
    ("дождь", False),
    ("дождь", True),
    ("облачно", True),
]

In [4]:
counts = {weather[0]: (data.count(weather), data.count((weather[0], not weather[1]))) for weather in data}

new_data = pd.DataFrame({
    "Погода": [key for key in counts],
    "Прогулка (да)": [counts[key][0] for key in counts],
    "Прогулка (нет)": [counts[key][1] for key in counts],
})

new_data

     Погода  Прогулка (да)  Прогулка (нет)
0  солнечно              3               1
1      снег              1               3
2   облачно              3               1
3     дождь              1               2

In [5]:
p_yes = 8 / 15

p_rain = 3 / 15

p_yes_rain = (1 / 15) / p_yes

p = (p_yes_rain * p_yes) / p_rain

p

0.3333333333333333

## Задание 2

In [6]:
data = pd.read_csv("data/card_transdata.csv")

data.head()

,distance_from_home,distance_from_last_transaction,ratio_to_median_purchase_price,repeat_retailer,used_chip,used_pin_number,online_order,fraud
0,57.877857,0.311140,1.945940,1.0,1.0,0.0,0.0,0.0
1,10.829943,0.175592,1.294219,1.0,0.0,0.0,0.0,0.0
2,5.091079,0.805153,0.427715,1.0,0.0,0.0,1.0,0.0
3,2.247564,5.600044,0.362663,1.0,1.0,0.0,1.0,0.0
4,44.190936,0.566486,2.222767,1.0,1.0,0.0,1.0,0.0

In [7]:
data.shape, data.dropna().shape

((1000000, 8), (1000000, 8))

In [8]:
data = data.dropna()

In [9]:
X = data.drop("fraud", axis=1)
y = data["fraud"]

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=0)

In [15]:
scaler = StandardScaler().fit(X_train)

X_train_scaled = scaler.transform(X_train)

In [16]:
scaler = StandardScaler().fit(X_test)

X_test_scaled = scaler.transform(X_test)

array([1., 1., 1., 1., 1., 1., 1.])